<div class="row">
  <h1>Drinkonight</h1>


  <h2>Le jeu qu'on oublie le lendemain</h2>
  <div class="col">
    <input type="text" id="pseudo-input" placeholder="Ajoute un joueur" class="form-control col-10">
  </div>
  <button onclick="addPlayer()" class="btn btn-primary col-1">+</button>
  <div id="player-list">
    <!-- Player list will be dynamically populated by JavaScript -->
  </div>
<button onclick="redirectToCards()" class="btn btn-primary">Commencer à boire</button>
</div>





<script>
  let players = [];

  function addPlayer() {
    const pseudoInput = document.getElementById("pseudo-input");
    const pseudo = pseudoInput.value.trim();

    if (pseudo) {
      players.push(pseudo);
      renderPlayerList();
      pseudoInput.value = "";
    }
  }

  function renderPlayerList() {
    const playerList = document.getElementById("player-list");
    playerList.innerHTML = "";
    players.forEach((player, index) => {
      const li = document.createElement("li");
      li.textContent = player;

      const deleteButton = document.createElement("button");
      deleteButton.textContent = "Delete";
      deleteButton.onclick = () => deletePlayer(index); // Call deletePlayer function with index

      li.appendChild(deleteButton);
      playerList.appendChild(li);
    });
  }

  function deletePlayer(index) {
    players.splice(index, 1); // Remove player at given index
    renderPlayerList(); // Re-render player list
  }

  function redirectToCards() {
    if (players.length >= 2) {
      const playerParams = players.map(player => `players[]=${encodeURIComponent(player)}`).join("&");
      window.location.href = `/cards?${playerParams}`;
    } else {
      alert("Please add at least two players before proceeding to the cards page.");
    }
  }
</script>