<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeDrunk</title>
</head>
<style>
.container {
    justify-content:start !important;
}

h2{
    font-weight: 600!important;
    font-size: 32px !important;
}
</style>
<body>
<div class="container flex-start">
<%= link_to "Retour à l'accueil", root_path, class: 'admin-access' %>

<h1>Légal</h1><br>
<h2>Crédits</h2>
Questions, reflexion et concept : Owen Michalowski--Beaujean & Nathan Vandaele
Développement, technique et design : Nathan Vandaele

<h2> Ce projet est open-source </h2>
Vous trouverez tout le code de l'application sur Github
<h2>Mention légales </h2>
                <h3><strong>Identification : </h3></strong>BeDrunk est un jeu de soirée<br>
                
                Créé par Nathan Vandaele et Owen Michalowski--Beaujean<br>
                <br>
                Directeur de la publication : Nathan Vandaele
                

                <br><br>
                <p><strong>
                        <h3>Coordonnées : </h3>
                    </strong>
                    Adresse : 2 Rue Montméjean, 33100 Bordeaux<br>

                    En cas de problème ou pour une quelconque demande, vous pouvez nous contacter à l’<u>adresse email suivante</u> : nvandaele1234@gmail.com <br>et <u>au numéro de téléphone</u> : +330767870696
                </p><br>

                <p><strong>
                        <h3>Hébergeur de l'app : </h3>
                    </strong> Scalingo SAS d<br>
                    Siège social : 13 rue Jacques Peirotes 67000 Strasbourg, France<br>
                    Email : support@scalingo.com<br>
                    Adresse du site web de l’hébergeur : scalingo.com<br>
                    Date : Juillet 2024<br>
                </p>
                <br> <br>
<h2> Conditions générales d'utilisation </h2>
                
                    Veuillez prendre connaissance des informations qui suivent. Tout visiteur ou personne inscrite sur notre application web est invité à lire attentivement les conditions générales d’utilisation ci-dessous.

                    <h3>Objet :</h3>
                    Les présentes conditions générales ont pour objet de préciser les conditions sous lesquelles un utilisateur peut utiliser ce site. Toute personne ayant une connexion internet et des bonnes intentions peut utiliser ce site. Vous devez accepter ces informations pour pouvoir naviguer sur ce site. Ces Conditions ont la même valeur qu’un contrat et supposent donc un parfait accord entre les deux parties, à savoir BeDrunk et l’utilisateur. Si vous n’êtes pas d’accord, vous n’êtes pas tenu de rester. Ces Conditions Générales d’Utilisation s’appliquent aux citoyens européens. En cas de conflit, le droit français en vigueur s’appliquera et le tribunal de Bordeaux sera chargé de l’affaire.

                    <h3>Durée :</h3>
                    Ces conditions sont valables pour la durée que l’utilisateur utilise le site. L’utilisateur est informé que les CGU peuvent être amenées à être modifiées.

                    <h3>Définitions :</h3>
                    <ul>
                    <li><strong>Application Web :</strong> Site accessible par tous les internautes où les utilisateurs peuvent interagir et participer à des activités en ligne.</li>
                    <li><strong>Base de données :</strong> Ensemble d'informations organisé afin d’être facilement accessible, géré et mis à jour. Pour le cas de cette application, elle contiendra uniquement les pseudos des utilisateurs.</li>
                    <li><strong>Contenu :</strong> Tout ce qui est partagé sur l'application.</li>
                    <li><strong>Pseudo :</strong> Nom utilisé lors de la création de votre compte et pour vous connecter les fois suivantes. Votre pseudo sera visible par tout le monde si vous participez à des activités interactives.</li>
                    <li><strong>Utilisateur :</strong> Personne ayant un compte sur l'application. L’utilisateur peut participer aux activités proposées par l'application.</li>
                    <li><strong>Visiteur :</strong> Personne qui vient sur le site sans avoir de compte. Il peut consulter le contenu public de l'application.</li>
                    </ul>

                    <h3>Modalités d’accès à l'application :</h3>
                    BeDrunk est une application web dédiée aux jeux de soirée. L’accès se fait de manière totalement gratuite. Votre inscription vous demande uniquement de fournir plusieurs pseudos valides. Vous retrouverez toutes les informations relatives aux pseudos interdits lors de votre inscription. Tout pseudo non conforme entraînera une suppression du compte dans les 3 jours suivant votre inscription au maximum. Avec votre compte, vous pouvez participer aux activités proposées par l'application.

                    <h3>Propriété intellectuelle :</h3>
                    La majorité des contenus présents sur cette application, à savoir les images, les logos et les vidéos, appartiennent à BeDrunk. Selon l’article L 335-2 du <u>Code de la Propriété Intellectuelle</u>, toute copie ou publication non autorisée de ce contenu sera passible de 300 000 euros d’amende et de trois ans d’emprisonnement. Si vous souhaitez réutiliser le contenu présent sur cette application, vous devez nous mentionner. Par ailleurs, il est possible que certains des contenus postés soient repris d’une autre personne auquel cas, cela sera explicitement mentionné. Il faudra alors vous adresser à ces personnes pour pouvoir les réutiliser.

                    <h3>Responsabilité de l’éditeur :</h3>
                    BeDrunk met tout en œuvre pour vous garantir un bon accès à l'application et faire en sorte que votre visite soit la plus agréable possible. Les librairies de code sont régulièrement mises à jour afin d’éviter toute faille de sécurité. Nous ne sommes pas responsables des commentaires provocants que les utilisateurs pourraient poster sur l'application, cependant, nous veillons à faire en sorte que l'espace commentaires reste un endroit convivial en mettant en place une bonne modération. Nous tenons à conserver un site de bonne entente où tout le monde peut s’exprimer. Tout commentaire considéré comme offensant n’aura pas sa place et sera supprimé dans les plus brefs délais. En cas de récidive, le compte de l’utilisateur sera suspendu pour une durée permanente.

                    <h3>Responsabilité de l’utilisateur :</h3>
                    Il est conseillé à l’utilisateur de conserver ses identifiants secrets. BeDrunk n’est pas responsable en cas d’utilisation frauduleuse du compte de l’utilisateur. Par ailleurs, l’utilisateur doit adopter un comportement adéquat lorsqu’il communique sur l'application. Comme mentionné précédemment dans la partie 4 - <u>Responsabilité de l’éditeur</u>, BeDrunk est tenu pour responsable d’effectuer des opérations de modération dans l’espace commentaire. Cependant, tout propos offensant pourrait vous être retenu et des poursuites pourront être engagées contre vous.

                    <h3>Modification des CGU :</h3>
                    Conformément à l’article 82 de la loi Informatique et Libertés, BeDrunk est tenu de mettre à jour régulièrement les CGU. Il s’agit d’opérations indispensables qu’il nous est tenu de respecter afin de faire en sorte que notre application reste conforme aux lois en vigueur. Si vous souhaitez vous opposer aux CGU modifiées, vous pouvez à tout moment nous en informer et nous mettrons également fin à votre compte en veillant à supprimer la totalité de vos données.

                    <h3>Droit applicable :</h3>
                    En cas de conflit, le droit français s’appliquera. Compte tenu du lieu de domicile de l’agence, le tribunal compétent sera celui de Bordeaux.

                    <h3>Consentement CGU</h3>
                    L’accord de l’utilisateur par rapport aux CGU tient pour 13 mois maximum. Passé ce délai, vous devrez réaccepter les CGU.

<h2> Réglement Général sur la Protection des Données (RGPD)</h2>
<h3><strong>PDO : </h3></strong>
                Nathan Vandaele
                <br>Mail : <u>nvandaele1234@gmail.com</u>
                <br>Tel : +33 7 67 87 06 96
                </h3>
                <br><br>
                <p><strong><h3>Consentement : </h3></strong> 
                L’utilisateur assure avoir pris connaissance et accepter les informations suivantes concernant l’utilisation de ses données personnelles.</p>

                <p><strong><h3>Transparence : </h3></strong> BeDrunk s’engage à demander explicitement l’accord des utilisateurs afin de pouvoir accéder à certaines données pour les stocker dans sa base de données. Aucune donnée ne sera collectée par BeDrunk sans l’accord préalable de l’utilisateur. Les données collectées par Strics blog ne sont pas vendues ou divulguées à des personnes tierces.</p>

                <p><strong><h3>Limitation de la collecte : </h3></strong> Pour une simple navigation sur le site, BeDrunk ne récoltera aucune donnée exceptée votre accord par rapport aux Cookies ( voir l’article 15 et 16 qui traitent du droit d’accès et de rectification, ainsi que les articles 82 et 83 qui abordent les conditions de consentement pour l’utilisation de cookies ).

                    Nous ne collectons que les données nécessaires à votre navigation sur le site.

                    Par ailleurs, si vous souhaitez recevoir quotidiennement des actualités de notre site, vous aurez besoin d’une adresse email à renseigner pour la newsletter. Les données qui vous seront demandées lors de votre inscription seront :

                <ul>
                    <li><strong>Un mot de passe</strong></li>
                    <li><strong>Les pseudos des joueurs</strong></li>
                    <li><strong>Une adresse email</strong></li>
                </ul>
                Etant donné qu’il ne s’agit pas d’un site marchand, nous ne vous demanderons jamais vos coordonnées bancaires. Nous ne vous demanderons pas non plus de données personnelles sur votre situation familiale, votre âge ou votre orientation sexuelle.

                <p><strong><h3>Finalités de la collecte : </h3></strong> Vos données sont collectées afin de vous permettre une meilleure visite sur le site.</p>

                <p><strong><h3>Durée de conservation des données : </h3></strong> Les données sont conservées pour toute la durée de votre inscription. En cas de suppression de votre compte, ou dans des cas plus rares, de bannissement, vos données seront supprimées au maximum 2 ans après que votre compte soit supprimé.</p>

                <p><strong><h3>Droit des utilisateurs : </h3></strong> Conformément aux différents articles du RGPD, les utilisateurs bénéficient de différents droits concernant leurs données personnelles. Parmi elles figurent :
                <ul>
                    <li><strong>Droit d'accès</strong> : L’utilisateur a le droit d’obtenir les informations qu’il a fournies sur le site BeDrunk et de savoir à quelles fins elles sont utilisées.</li>
                    <li><strong>Droit de rectification</strong> : L’utilisateur a le droit de demander à l’équipe de BeDrunk une modification de ses données personnelles dans les plus brefs délais si elles ne sont pas à jour.</li>
                    <li><strong>Droit à l’effacement</strong> : L’utilisateur a le droit de demander une totale suppression des informations qu’il a fournies au blog si elles sont erronées ou s' il ne souhaite plus qu’elles soient collectées par BeDrunk. </li>
                    <li><strong>Droit à la limitation du traitement</strong> : L’utilisateur a le droit de demander une limite concernant le traitement de ses données par BeDrunk.</li>
                    <li><strong>Droit d’opposition</strong> : L’utilisateur a le droit, pour quelconque motif qu’il soit de s’opposer au traitement fait de ses données par BeDrunk si il n’est plus d’accord ou ne souhaite plus donner ses données à BeDrunk.

                        Pour chaque demande exposée, BeDrunk s’engage à prendre les mesures nécessaires et agir dans les meilleurs délais afin de respecter la décision de l'utilisateur. Veuillez envoyer votre demande à l’adresse email suivante : <u>nvandaele1234@gmail.com</u></li>
                </ul>

                </p>

                <p><strong><h3>Sécurité : </h3></strong> Selon l’<u>article 121 de la loi Informatique et Libertés</u>, BeDrunk met tout en œuvre pour garantir une sécurité totale de vos données dans notre base de données. Nous faisons notre possible pour empêcher la dégradation involontaire ou volontaire de vos données par une tiers personne ou leur fuite sur des sites malveillants.</p>

                <p><strong><h3>Notification de violation : </h3></strong> Bien que nous mettions tout au point pour que cela n’arrive pas, nous sommes conscients que certaines attaques malveillantes peuvent avoir lieu. Dans ce cas là, l’utilisateur sera de suite informé de l’attaque et nous ferons en sorte de préserver le maximum de données.
                    Si l’attaque représente un risque élevé pour les utilisateurs, l’équipe de BeDrunk s’engage à notifier ce problème à la CNIL dans les 72 heures comme demandé dans l’<u>article 33 du RGPD</u>. Selon l’<u>article 34 du RGPD</u>, l’équipe de BeDrunk s’engage à prévenir ses utilisateurs dans les plus brefs délais en cas d’attaque conséquente.
                </p>

                <p><strong><h3>Limites de responsabilité : </h3></strong> BeDrunk n’est pas responsable en cas de perte de vos identifiants. Vous êtes tenus de vous souvenir de vos informations nécessaires pour accéder au blog.

                    Par ailleurs, BeDrunk se dédouane également de toute fuite de vos données personnelles. L’utilisateur doit prendre les mesures nécessaires afin de protéger ses données personnelles.</p>

                <p><strong><h3>Utilisation des cookies : </h3></strong><u>Qu’est ce qu’un cookie ?</u><br>
                    <i>Un cookie est un petit fichier stocké par un serveur dans le terminal (ordinateur, téléphone, etc.) d’un utilisateur et associé à un domaine web (c'est-à-dire dans la majorité des cas à l’ensemble des pages d’un même site web). Ce fichier est automatiquement renvoyé lors de contacts ultérieurs avec le même domaine.</i> <a href="https://www.cnil.fr/fr/definition/cookie">(Cookie | CNIL)</a>
                    <br><br> On peut distinguer 2 différents types de cookies :
                <ul>
                    <li>Les cookies internes qui sont déposés par site et qui peuvent être utilisés pour collecter des données personnelles à des fins publicitaires.</strong></li>
                    <li>Les cookies tiers n’ont pas été déposés par le site mais par des tiers afin de collecter des données sur les pages consultées par l’utilisateur.</strong></li>
                </ul>
                <br>Les cookies collectés par BeDrunk permettent de récupérer des informations sur les utilisateurs et ainsi, d’améliorer l’expérience utilisateur. Nous ne récoltons aucune donnée sans votre consentement, c’est pourquoi, toute utilisation de cookie fera l’objet d’une demande au préalable dès votre arrivée sur le site.

                </p>
</div>
</body>
</html>